$black              : #231f20;
$black-bis          : lighten($black, 1%);
$black-ter          : lighten($black, 2%);

$grey-darker        : hsl(0, 0%, 21%);
$grey-dark          : #423c3c;
$grey               : #645d5d;
$grey-light         : #8d8787;
$grey-lighter       : #beb9b9;

$white-ter          : hsl(0, 0%, 96%);
$white-bis          : hsl(0, 0%, 98%);
$white              : hsl(0, 0%, 100%);

$orange             : hsl(14, 100%, 53%);
$yellow             : hsl(48, 100%, 67%);
$green              : hsl(141, 71%, 48%);
$turquoise          : hsl(171, 100%, 41%);
$cyan               : hsl(204, 86%, 53%);
$blue               : hsl(217, 71%, 53%);
$purple             : hsl(271, 100%, 71%);

$red-lightest       : #fbd2d4;
$red-lighter        : #f7a5a9;
$red-light          : #f4797e;
$red-medium         : #f04c53;
$red-dark           : #EC1F27;
$red-darker         : darken($red-dark, 20%);
$red-darkest        : darken($red-dark, 30%);

$red                : $red-dark;

$primary            : $red;

$info               : $cyan;
$success            : $green;
$warning            : $yellow;
$danger             : $red;

$light              : $white-ter;
$dark               : $grey-darker;

// Invert colors

$orange-invert      : findColorInvert($orange);
$yellow-invert      : findColorInvert($yellow);
$green-invert       : findColorInvert($green);
$turquoise-invert   : findColorInvert($turquoise);
$cyan-invert        : findColorInvert($cyan);
$blue-invert        : findColorInvert($blue);
$purple-invert      : findColorInvert($purple);
$red-invert         : findColorInvert($red);

$primary-invert     : $turquoise-invert;
$info-invert        : $cyan-invert;
$success-invert     : $green-invert;
$warning-invert     : $yellow-invert;
$danger-invert      : $red-invert;
$light-invert       : $dark;
$dark-invert        : $light;

// General colors

$background         : $white-ter;

$border             : $grey-lighter;
$border-hover       : $grey-light;

// Text colors

$text               : $grey-dark;
$text-invert        : $white-bis;
$text-light         : $grey;
$text-strong        : $grey-darker;

// Code colors

$code               : $red;
$code-background    : $background;

$pre                : $text;
$pre-background     : $background;

// Link colors

$link               : $primary;
$link-invert        : $primary-invert;
$link-visited       : $red-darker;

$link-hover         : $grey-darker;
$link-hover-border  : $grey-light;

$link-focus         : $grey-darker;
$link-focus-border  : $blue;

$link-active        : $grey-darker;
$link-active-border : $grey-dark;

// Lists and maps
$custom-colors      : null;
$custom-shades      : null;

$colors             : mergeColorMaps((
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $dark-invert),
	"primary": ($primary, $primary-invert),
	"link": ($link, $link-invert),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert)
), $custom-colors);

$shades             : mergeColorMaps(("black-bis": $black-bis,
	"black-ter": $black-ter,
	"grey-darker": $grey-darker,
	"grey-dark": $grey-dark,
	"grey": $grey,
	"grey-light": $grey-light,
	"grey-lighter": $grey-lighter,
	"white-ter": $white-ter,
	"white-bis": $white-bis
), $custom-shades);
