// Content
$content-blockquote-border-left: .5rem solid $primary;

// Cards
$card-header-background-color: $grey-dark;
$card-header-color: $white;

$footer-background-color: $grey-dark;
$footer-color:$text-invert;

$navbar-height: 3.25rem !default
